

.main-container {
    margin-top: 5% ;
    margin-left:15rem;
    max-width:  65%;
    height: 30rem;
    right: 40%;
    font-size: 1.7rem;
    font-weight: 400;
}

.header-text {
    color:#14C9C9;
}

form {
    max-width: 40%;
    height: 50%;
    display: flex;
    margin: auto;
    padding: 1rem;
    margin-top: 6rem;
    background:white;
    flex-direction: column;
    border: 1px lightgray solid;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);    
}


input { 
     border: 1px solid rgb(216, 212, 212);
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     margin-top: 1rem;
}
input[type=submit] {
    color: white;
    background-color:#14C9C9;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 1.5rem;
}


.forgotpassword  {
    font-weight: 200;
    font-size: small;
    
}
.signup {
    font-weight: 200;
    font-size: small;
}

span {
    color:gray;
    font-family: serif;
}
a {
    color: rgb(7, 7, 170);
    text-decoration: none;
}

